.header a span {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    color: rgba(139, 38, 53, 1);
    
}
.header a {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}
.header ul{
    margin-left: 730px;
    
}
.header ul li a{
   
    font-weight: 500;
    position: relative;
    padding: .25rem .5rem;
    font-size: 17px;
    margin-left: 15px;
    color: "black";
}
.header ul li a:hover{
    text-decoration: underline 2px rgb(139 38 53 )
}
.contact h2{ 
    color: rgb(139 38 53 );
}
.contact p{
    font-size:18px
}
.contain button{
    background-color: rgb(139 38 53 );
    text-align: center;
    padding:10px;
    padding-left:240px;
    padding-right:280px;
    border-radius:10px;
    border: 1px rgb(139 38 53 );
    color: white
}
.icons i{
    border: 3px solid rgb(139 38 53 ) ;
    border-radius:100px;
   outline: 10px solid rgb(139 38 53 );
   background:rgb(139 38 53 );
   color: white;
   font-size: 20px;
   margin:12px
}
.icons a{
    color: rgb(139 38 53 );
    text-decoration: none;
}
.icons a:hover{
    color: rgb(139 38 53 );
    text-decoration: none;
}
.icon{
    background-color:rgb(249 250 251)

}

.response{
    background-color:rgb(139 38 53 );
    border-radius:10px 10px 10px 10px;
    color: white;
    height: 14vh
}
.response h6{
    padding-top: 30px;
    font-size: 25px;
    margin-left: 20px
}
.response p{
    font-size:16px;
    margin-left: 20px
}
.footer{
    background-color:rgba(51, 51, 51, 1);
    height:30vh;
    color:rgb(255, 255, 255);
    margin-top: 60px;
}
.footer h3{
  padding-top: 50px;
}
.footer i{
    color: white;
}
.footer p a {
    color: white;
    text-decoration: none;
}
.footer span{
   margin-left:200px;
    font-size: 15px
}